<div class="jumbotron">
  <h1 class="display-4">Become Listed on our Site!</h1>
  <p class="lead">
    This is where <span style="color:#EF7300;">Fire Protection, Fire Alarm and MEP companies</span> go to find designers!
  </p>

  <div >
    <ul>
      <li>Do you want to expand your business?</li>
      <li>Having a hard time finding ways to promote yourself and your business?</li>
      <li>Want to design work all over the country?</li>
      <li>Are you looking for new clients?</li>
    </ul>
  </div>

  <p class="lead">
    Advertising is expensive and finding the right place to advertise can be difficult.
    Let DesignerHub help. We work to connect designers with Fire Protection, Fire Alarm, and MEP companies all over the country.
  </p>

  <p class="lead">
    In fact, we’ve talked to dozens of companies throughout the industry, and their biggest complaint is finding good
    designers just like you. DesignerHub steps in to bridge the gap and connect you to companies all over the world.</p>

  <div id="center">
    <img src="../../../assets/chart.png" alt="Subscription Pricing Chart">
    <p>
      <a href="#" class="btn btn-success waves-light" mdbRippleRadius routerLink="/register">Start Here!</a>
    </p>
  </div>


</div>

