<div class="jumbotron">
  <h2 class="display-4>">Plumbing Designers</h2>
  <hr class="my-4">
  <p class="lead">Search for design companies in the plumbing industry.</p>
  <p>Services provided include design, detail, BIM, engineering, consulting and more.</p>
  <p></p>
  <p style="color:#EF7300;">Not sure who to choose? Submit an RFP and DesignerHub will match you with design companies that fit your criteria!</p>
  <hr class="my-4">
  Filter component will go here
  <hr class="my-4">
  <p class="lead">
    Table component/list control here
  </p>
</div>

