  <div class="jumbotron">
    <h1 class="display-4>">About Us</h1>
    <p class="lead">
      DesignerHub was created to connect designers in the construction industry with the companies looking for their
      services. Whether you need to find an independent designer for a current project or you need to fill a permanent position,
      DesignerHub is the solution.
    </p>

    <p class="lead">
      DesignerHub was developed by an industry veteran who understands the design process and the needs of companies in
      the construction industry. If you want to simplify the search for you next designer, <a href="#" routerLink="/join">join</a> DesignerHub today!
    </p>

    <hr class="my-4">

    <p class="lead">
      Have questions or a suggestion for making DesignerHub even better, please contact us.
    </p>

    <p class="lead">
      Phone: <span style="color:#EF7300;">(720) 502-3346</span>
      <br>
      Email: <span style="color:#EF7300;">info@designerhub.com</span>
    </p>
  </div>
