<div class="jumbotron">
  <div class="row">
    <h2 class="display-5 col-8">Fire Protection Designers</h2>
    <a class="btn btn-warning waves-effect col-3" href="#" routerLink="/fire-protection-rfp">Submit your RFP</a>
  </div>
  <div class="row">
    <p class="lead col-8">Search for design companies in the electrical industry.</p>
  </div>
  <div class="row">
    <p class="col">Services provided include design, detail, BIM, engineering, consulting and more.</p>
  </div>
  <div class="row">
    <p class="col" style="color:#EF7300;">Not sure who to choose? Submit an RFP and DesignerHub will match you with design companies
      that fit your criteria!</p>
  </div>
  <hr class="my-4">
  Filter component will go here
  <hr class="my-4">
  <p class="lead">
    Table component/list control here
  </p>
</div>

